.agents/
.specify/
/docs/
/.gradle/
/build/
/app/build/
*.iml
/.idea/
/captures/
hs_err_pid*.log
replay_pid*.log
.agents
app/local.properties
app/secrets.properties
local.properties
secrets.properties
.idea/
.vscode/
AGENTS.md
.github/
.opencode/